@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our July Batch of Training</h1>
    <p>We are here to learn Cloud Computing!!</a>.</p>
</div>
